name: "{{ model_name }}_trt"
platform: "tensorrt_plan"
max_batch_size: {{ max_batch_size }}

input [
{% for inp in inputs %}
  {
    name: "{{ inp.name }}"
    data_type: {{ inp.data_type }}
    dims: [ {{ inp.dims | join(', ') }} ]
  }{% if not loop.last %},{% endif %}
{% endfor %}
]

output [
{% for out in outputs %}
  {
    name: "{{ out.name }}"
    data_type: {{ out.data_type }}
    dims: [ {{ out.dims | join(', ') }} ]
  }{% if not loop.last %},{% endif %}
{% endfor %}
]

dynamic_batching {
  max_queue_delay_microseconds: 100
}

instance_group [
  {
    kind: KIND_GPU
    count: 1
  }
]